Color-Wheel.jpg
EphA_3ki_cc.png
EphA_3ki_rc.png
pickled_sims/efnA_KI_dicts_smallsteps.pkl
pickled_sims/efnA_KI_dicts.pkl
pickled_sims/EphA_KI_3_dicts.pkl
pickled_sims/EphA_KI_dicts_smallsteps.pkl
pickled_sims/EphA_KI_dicts.pkl
pickled_sims/EphA_KI_large_steps_dicts.pkl
